<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Not Twitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMenu" aria-controls="offCanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offCanvasMenu" aria-labelledby="offCanvasMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasMenuLabel">Not Twitter</h5>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% if user.is_authenticated %}
           <li class='nav-item my-auto'>
            <a class='nav-link'> Welcome, {{ user.username }} </a>
          </li> 
          {% endif %}
          <li class='nav-item my-auto'>
            <a class='nav-link' href="{% url 'home'%}"> Home </a>
          </li>
          <li class='nav-item my-auto'>
            <a class='nav-link' href="{% url 'timeline'%}"> Timeline </a>
          </li>
          {% if user.is_authenticated %}
          <li class='nav-item'>
            <a class='nav-link' href="{% url 'new_post' %}">
              <button class='btn btn-outline btn-dark'>
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                New Post
              </button>
            </a>
          </li> <li class='nav-item'>
            <a class='nav-link' href="{% url 'logout' %}">
              <button class='btn btn-outline btn-danger'>Logout</button>
            </a>
          </li> 
          {% else %}
            <li class='nav-item'>
              <a class='nav-link' href="{% url 'login' %}">
                <button class='btn btn-outline-dark'>Login</button>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href="{% url 'register' %}">
                <button class='btn btn-dark'>Register</button>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>