{% extends 'base.html' %}

{% load django_bootstrap5 %}         

{% block title %} Register {% endblock title %}
{% block content %}
<div class="col col-md-8 col-sm-12 container p-5">
	<h3>Register</h3>
	<form class='d-flex flex-column' method="POST">
		{% csrf_token %}
		{% bootstrap_form register %}                    
		<button class="my-2 btn btn-dark btn-block" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
{% endblock content %}
